<br>
<br>
<br>
<br>
<ion-content class="has-header">
  <div >
    <ion-row  class="wrapper" *ngFor="let usuarios of usuarios">
      <ion-col size="12">
        <ion-item  >
          <ion-avatar >
            <ion-img  src="{{usuarios.img}}"></ion-img>
          </ion-avatar>
            <ion-lable class="arreglao"> {{ usuarios.name}} {{usuarios.lastname}}</ion-lable>
            <span class="handle">{{usuarios.nick}}</span>
            <span class="handle">. 2h</span>
          </ion-item>
          <ion-item>
            <span>{{usuarios.tweet}}</span></ion-item>
              <ion-item>
              <ion-button fill="clear" color="medium" size="small">
                <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
                13
              </ion-button>
              <ion-button fill="clear"  size="small">
                <ion-icon name="repeat-outline" slot="start"></ion-icon>
                35
              </ion-button>            
              <ion-button fill="clear"  size="small">
                <ion-icon name="heart-outline" slot="start"></ion-icon>
                9
              </ion-button>
            </ion-item>           
      </ion-col>
  </ion-row>
</div>

</ion-content>